.ak-logo {
  position: absolute;
  left: 30px;
  top: 0px;
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 30px;
  padding-top: 30px;
}

.about-container {
  background-color: #a259ff;
  padding: 20px;
  /* height: 400px; */
  /* width: 400px; */
  border-radius: 20px;
  /* flex-shrink: 0; */
}

.about-img {
  height: 300px;
  border-radius: 12px;
  box-shadow: 0 0 8px grey;
  /* flex-shrink: 1; */
}
@media (920px >= width >=768px) {
  .about-img {
    height: 250px;
  }
}
.about-text {
  color: #fff;
  font-size: 18px;
}
.select-country {
  padding: 10px;
  width: 120px;
  outline: 0;
  border-radius: 10px;
  border: 0;
  margin: 4px;
  margin-right: 5px;
}
.login-section {
  background-color: #f7f0ff;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px #ddd;
  /* gap: 10px; */
}
@media (max-width: 768px) {
  .ak-logo {
    height: 60px;
    /* left: 30%; */
    /* right: 50%; */
  }
  .home-container {
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .about-container {
    /* margin-top: 50px; */
  }
  .about-img {
    /* width: 200px; */
    height: 220px;
  }
  .login-section {
    width: 80%;
    padding: 10px;
  }
}
.number-input {
  padding: 10px;
  border-radius: 10px;
  outline: 0;
  border: 1px;
  width: 250px;
  margin: 4px;
}
.start-text {
  font-size: 20px;
  color: #a259ff;
}
.continue-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #483287;
  border-radius: 26px;
  color: #fff;
  border: 0;
  outline: none;
  padding: 14px;
  gap: 8px;
  font-size: 16px;
  transition: 0.5s;
  margin-top: 10px;
}
.continue-button:hover {
  box-shadow: 0px 3px 0px grey;
  transform: translateY(-3px);
}

.inputOtp {
  padding: 14px;
  background-color: #fff;
  border: 0;
  border-radius: 12px;
  outline-color: #483287;
  box-shadow: 0px 0px 3px 0px #ccc;
}
